html
    head
        title CoinMerge
        link(rel="stylesheet" href="/bulma.css")

    body
        #app
            | content

        script(src="/socket.io/socket.io.js")
        script(src="/bundle.js")